* {
    font-family: 'Roboto', sans-serif;
}   

body{
    text-align: center;
}

ol{
    list-style-position: inside;
    margin-inline-start: auto;
}


button{
    background-color: blue;
    color: beige;
 }